.dupa{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    


}


.ID{


    margin-top: 10px;


}



.Login {


    margin-top: 10px;

}



.pdw{

    margin-top: 10px;
    font-size: 25px;


}

.cipa{


    margin-bottom: 100px;


}