.body{

    background-image: lighblue;


}

.chuj{


    color: rgb(255, 255, 255);

}


.button{

    button {
        border: 2px solid black;
        padding: 10px 20px;
        font-size: 16px;
        background-color: rgb(255, 255, 255);
        color: black;
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 3px 3px 10px rgba(146, 146, 146, 0.3);
    }
    button:hover {
        background-color: rgb(77, 77, 79);
        color: white;
        box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
    }
}